**/*.onnx
**/__pycache__/
.venv/
.venv-train/
.ultralytics/
datasets/
firmware/welland_ingredient_detector/.idf-python/
runs/
.vscode/
build/
.idea/
.espressif/
esp-dl/
**/.idf-venv/
**/managed_components/
**/sdkconfig
**/sdkconfig.old
**/dependencies.lock
